*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right, #ffffff 60%, #df65f0 80%, #2ebf91 100%);
}


/* HEADER STYLING */

.header{
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
}

.logo{
    background:  rgb(161, 53, 204);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.logo-name{
    font-size: 27px;
    color: rgb(49, 49, 49);
}

.nav_links{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_links li a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav_links li a:hover{
    color: rgb(161, 53, 204);
    background: rgb(224, 219, 226);
    padding: 10px 20px;
    border-radius: 4px;
}

/* BUTTON STYLYING */
.header-btn{
    margin-left: 20px;
}

.btn{
    background: rgb(161, 53, 204);
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: rgb(71, 17, 92) ;
    transform: scale(1.05);
}


/* HERO SECTION STYLING */
.hero-container{
    width: 100%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 50px;
    color: rgb(49, 49, 49);
}


.hero-title{
    font-size: 50px;
    line-height: 3.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-subtitle{
    font-weight: 300;
    margin-bottom: 20px;
}


.hero-image{
    margin-left: 50px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.hero-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 160px;
}

.hero-card{
    background-color: #f8f7f8;
    width: 200px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-number{
   font-weight: 500;
}